<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <fileAdapterFactory>
    <fileAdapter extension="txt" implementation="spike.fileadapterfactory.config.MyClass1, spike.fileadapterfactory.config"/>
    <fileAdapter extension="mid" implementation="spike.fileadapterfactory.config.MyClass2, spike.fileadapterfactory.config"/>
  </fileAdapterFactory>
</configuration>