<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, ralfw.Unity" />
  </configSections>

  <unity>
    <containers>
      <container>
        <types>
          <type name="raw" 
                type="dnppv.contracts.fileadapter.IFileAdapter, dnppv.contracts.fileadapter" 
                mapTo="dnppv.textfileadapter.RawTextFileAdapter, dnppv.textfileadapter" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>