<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <!--
      <source name="PilePatternRecognizer" switchValue="Information">
        <listeners>
          <remove name="Default"/>
          <add name="file" 
               type="System.Diagnostics.TextWriterTraceListener" 
               initializeData="pilepatternrecognizer.log">
          </add>
        </listeners>
      </source>
      -->
    </sources>
  </system.diagnostics>
</configuration>