<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="microkernel">
      <section name="objects"
               type="ralfw.Microkernel.ConfigSectionMappingAdapter, ralfw.Microkernel" />
    </sectionGroup>
  </configSections>

  <microkernel>
    <objects>
      <object name="dnppv.contracts.patternrecognizer.IPatternRecognizer" 
              type="dnppv.pilepatternrecognizer.PilePatternRecognizer, dnppv.pilepatternrecognizer" />
    </objects>
  </microkernel>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="ArcDiagram" switchValue="Verbose">
        <listeners>
          <remove name="Default"/>
          <add name="textfileListener"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData="arcdiagram.log" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>  
</configuration>