<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="microkernel">
      <section name="objects"
               type="ralfw.Microkernel.ConfigSectionMappingAdapter, ralfw.Microkernel" />
    </sectionGroup>
  </configSections>

  <microkernel>
    <objects>
      <object name="dnppv.contracts.fileadapter.IFileAdapterFactory" 
              type="dnppv.fileadapterfactory.FileAdapterFactory, dnppv.fileadapterfactory" />
      <object name="dnppv.contracts.patternrecognizer.IPatternRecognizer" 
              type="dnppv.pilepatternrecognizer.PilePatternRecognizer, dnppv.pilepatternrecognizer" />
      <object name="dnppv.contracts.patternfilter.IPatternFilter" 
              type="dnppv.patternfilter.PatternFilter, dnppv.patternfilter" />

      <object comment="txt" name="dnppv.contracts.fileadapter.IFileAdapter" 
              type="dnppv.textfileadapter.RawTextFileAdapter, dnppv.textfileadapter" />
      <!--<object comment="txt" name="dnppv.contracts.fileadapter.IFileAdapter" 
              type="dnppv.textfileadapter.NonWhitespaceTextFileAdapter, dnppv.textfileadapter" />-->
      <object comment="mid" name="dnppv.contracts.fileadapter.IFileAdapter" 
              type="dnppv.midifileadapter.MidiFileAdapter, dnppv.midifileadapter" />
    </objects>
  </microkernel>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <!--<source name="ArcDiagram" switchValue="Verbose">
        <listeners>
          <remove name="Default"/>
          <add name="textfileListener"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData="arcdiagram.log" />
        </listeners>
      </source>-->
    </sources>
  </system.diagnostics>
</configuration>