<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, ralfw.Unity" />
  </configSections>

  <unity>
    <containers>
      <container>
        <types>
          <type type="test.ContainerProvider.IService, test.ContainerProvider" 
                mapTo="test.ContainerProvider.MyService, test.ContainerProvider" />
        </types>
      </container>

      <container name="c1">
        <types>
          <type type="test.ContainerProvider.IService2, test.ContainerProvider" 
                mapTo="test.ContainerProvider.MyService2, test.ContainerProvider" />
        </types>

        <instances>
          <add name="MyInstance1" type="System.String" value="Some value" />
          <add name="MyInstance2" type="System.DateTime" value="2008-02-05T17:50:00"  />
        </instances>
      </container>
    </containers>
  </unity>
</configuration>

