<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <fileAdapterFactory>
    <fileAdapter extension="txt" implementation="dnppv.textfileadapter.RawTextFileAdapter, dnppv.textfileadapter"/>
    <!--<fileAdapter extension="txt" implementation="dnppv.textfileadapter.NonWhitespaceTextFileAdapter, dnppv.textfileadapter"/>-->
  </fileAdapterFactory>
</configuration>