<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, ralfw.Unity" />
  </configSections>

  <unity>
    <containers>
      <container>
        <types>
          <type type="dnppv.contracts.patternfilter.IPatternFilter, dnppv.contracts.patternfilter" 
                mapTo="dnppv.patternfilter.PatternFilter, dnppv.patternfilter" />
          <type type="dnppv.contracts.patternrecognizer.IPatternRecognizer, dnppv.contracts.patternrecognizer" 
                mapTo="dnppv.pilepatternrecognizer.PilePatternRecognizer, dnppv.pilepatternrecognizer" />

          <type type="dnppv.contracts.fileadapter.IFileAdapterFactory, dnppv.contracts.fileadapter" 
                mapTo="dnppv.fileadapterfactory.FileAdapterFactory, dnppv.fileadapterfactory" />

          <type name="txt" 
                type="dnppv.contracts.fileadapter.IFileAdapter, dnppv.contracts.fileadapter" 
                mapTo="dnppv.textfileadapter.RawTextFileAdapter, dnppv.textfileadapter" />
          <!--
          <type name="txt" 
                type="dnppv.contracts.fileadapter.IFileAdapter, dnppv.contracts.fileadapter" 
                mapTo="dnppv.textfileadapter.NonWhitespaceTextFileAdapter, dnppv.textfileadapter" />
          -->
          <type name="mid" 
                type="dnppv.contracts.fileadapter.IFileAdapter, dnppv.contracts.fileadapter" 
                mapTo="dnppv.midifileadapter.MidiFileAdapter, dnppv.midifileadapter" />
        </types>
      </container>
    </containers>
  </unity>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <!--<source name="ArcDiagram" switchValue="Verbose">
        <listeners>
          <remove name="Default"/>
          <add name="textfileListener"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData="arcdiagram.log" />
        </listeners>
      </source>-->
    </sources>
  </system.diagnostics>
</configuration>