<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, ralfw.Unity" />
  </configSections>

  <unity>
    <containers>
      <container>
        <types>
          <type type="dnppv.contracts.patternfilter.IPatternFilter, dnppv.contracts.patternfilter" 
                mapTo="dnppv.patternfilter.PatternFilter, dnppv.patternfilter" />
          <type type="dnppv.contracts.fileadapter.IFileAdapter, dnppv.contracts.fileadapter" 
                mapTo="dnppv.textfileadapter.RawTextFileAdapter, dnppv.textfileadapter" />
          <type type="dnppv.contracts.patternrecognizer.IPatternRecognizer, dnppv.contracts.patternrecognizer" 
                mapTo="dnppv.pilepatternrecognizer.PilePatternRecognizer, dnppv.pilepatternrecognizer" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>