<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, ralfw.Unity" />
  </configSections>

  <unity>
    <containers>
      <container>
        <types>
          <type name="txt" type="dnppv.contracts.fileadapter.IFileAdapter, dnppv.contracts.fileadapter" 
                mapTo="test.blackbox.fileadapterfactory.MockupFileAdapterA, test.blackbox.fileadapterfactory" />
          <type name="mid" type="dnppv.contracts.fileadapter.IFileAdapter, dnppv.contracts.fileadapter" 
                mapTo="test.blackbox.fileadapterfactory.MockupFileAdapterB, test.blackbox.fileadapterfactory" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>