<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <fileAdapterFactory>
    <fileAdapter extension="txt" implementation="test.blackbox.fileadapterfactory.MockupFileAdapterA, test.blackbox.fileadapterfactory"/>
    <fileAdapter extension="mid" implementation="test.blackbox.fileadapterfactory.MockupFileAdapterB, test.blackbox.fileadapterfactory"/>
  </fileAdapterFactory>
</configuration>