<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="microkernel">
      <section name="objects"
               type="ralfw.Microkernel.ConfigSectionMappingAdapter, ralfw.Microkernel" />
    </sectionGroup>
  </configSections>

  <microkernel>
    <objects>
      <object comment="txt" name="dnppv.contracts.fileadapter.IFileAdapter" 
              type="test.blackbox.fileadapterfactory.MockupFileAdapterA, test.blackbox.fileadapterfactory" />
      <object comment="mid" name="dnppv.contracts.fileadapter.IFileAdapter" 
              type="test.blackbox.fileadapterfactory.MockupFileAdapterB, test.blackbox.fileadapterfactory" />
    </objects>
  </microkernel>
</configuration>